<div style="text-align:center;">
    <div style="display:inline-block;width:auto;">
        <a href="https://www.myphotoagency.com/lashootingbox/" target="_blank" title="la Shooting BOX"><img src="/storage/app/media/Infos/a-propos/logo-partenaire-laShootingBOX.png" width="100" height="110" style="width: 100px; height: 110px;"></a>
    </div>

    <!-- script mariages.net works for 2015 and 2016-->
    <script type="text/javascript" src="https://cdn1.mariages.net/_js/wp-rated.js?v=4"></script>
    <div style="display:inline-block;width:auto;margin-right:3px;" >
        <div id="wp-ratedWA">
            <a href="https://www.mariages.net/photo-mariage/anne-letournel-photographies--e129587" title="Anne Letournel Photographies, gagnant Wedding Awards 2015 mariages.net">
                <img width="100" height="100" alt="Anne Letournel Photographies, gagnant Wedding Awards 2015 mariages.net" id="wp-ratedWA-img-2015" src="https://cdn1.mariages.net/img/badges/2015/badge-weddingawards_fr_FR.jpg"/>
            </a>
        </div>
        <script>wpShowRatedWAv3('129587', '2015');</script>
    </div>
    <div style="display:inline-block;width:auto;" >
        <div id="wp-ratedWA">
            <a href="https://www.mariages.net/photo-mariage/anne-letournel-photographies--e129587" title="Anne Letournel Photographies, gagnant Wedding Awards 2016 mariages.net">
                <img width="100" height="100" alt="Anne Letournel Photographies, gagnant Wedding Awards 2016 mariages.net" id="wp-ratedWA-img-2016" src="https://cdn1.mariages.net/img/badges/2016/badge-weddingawards_fr_FR.jpg"/>
            </a>
        </div>
        <script>wpShowRatedWAv3('129587', '2016');</script>
    </div>
    <div style="display:inline-block;width:auto;margin-left:5px;" >
        <div id="wp-ratedWA">
            <a href="https://www.mariages.net/photo-mariage/anne-letournel-photographies--e129587" title="Anne Letournel Photographies, gagnant Wedding Awards 2017 mariages.net">
                <img width="100" height="100" alt="Anne Letournel Photographies, gagnant Wedding Awards 2017 mariages.net" id="wp-ratedWA-img-2017" src="https://cdn1.mariages.net/img/badges/2017/badge-weddingawards_fr_FR.jpg"/>
            </a>
        </div>
        <script>wpShowRatedWAv3('129587', '2017');</script>
    </div>
    <div style="display:inline-block;width:auto;margin-left:5px;" >
        <a href="http://www.zankyou.fr/p/la-liste-definitive-des-choses-qui-doivent-absolument-etre-pretes-pour-votre-mariage"><img width="100" src="http://asset2.zankyou.com/img/sections/badgets/zk_recommend/circle/badge_green_fr.png" alt="Entreprise recommande par Zankyou Mariage"/></a>
    </div>
</div>