<p>
    <img style="border-radius: 4px;max-width: 330px;width:100%;" rel="margin-bottom:8px;-webkit-border-radius:4px;border-radius:4px;" src="https://cloudinary-a.akamaihd.net/hopwork/image/upload/t_bigprofile/x56o9z5yxpj49irdpom2.jpg" alt="photos de anne Letournel" data-verified="redactor" data-save-url="https://cloudinary-a.akamaihd.net/hopwork/image/upload/t_bigprofile/x56o9z5yxpj49irdpom2.jpg">
</p>
<p style="text-align: justify;">
    Pour me décrire en quelques mots, Je m'appelle Anne et j'ai 27 ans. 
    J'aime observer le monde qui m'entoure et en saisir les instants uniques. C'est avec un réel plaisir que je travaillerai avec vous afin de concrétiser vos différents projets photographiques.
</p>
<p>
    Je me déplace en France et à l'étranger au gré de vos projets.
</p>
<p>
    N'hésitez pas à <a class="primary-link" href="/contact">me contacter</a>.
</p>
<p>
    Anne
</p>      