<div class="fb-page" data-href="https://www.facebook.com/pages/Anne-Letournel-Photographies/699435783483672" data-width="500" data-height="" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
<div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Anne-Letournel-Photographies/699435783483672"><a href="https://www.facebook.com/pages/Anne-Letournel-Photographies/699435783483672">https://www.facebook.com/pages/Anne-Letournel-Photographies/699435783483672</a></blockquote></div></div>

<br><br>
<p>
    <a href="http://www.mariage.com" title="Robes, idées déco, bons plans et la plus grande communauté de futures mariées en France" target="_blank">
        <img src="http://www.mariage.com/wp-content/uploads/2013/12/Mariage_partenaire-148x122.jpg" width="148" height="122" alt="Robes, idées déco, bons plans et la plus grande communauté de futures mariées en France" border="0" data-verified="redactor">
    </a>
    <a href="https://www.myphotoagency.com/lashootingbox/" target="_blank" title="la Shooting BOX">
        <img src="http://anne-letournel.com/storage/app/media/Infos/a-propos/logo-partenaire-laShootingBOX.png" width="131" height="134" style="width: 131px; height: 134px;" rel="width: 131px; height: 134px;" data-verified="redactor">
    </a>
</p>        