<div class="vcard">

    <div class="vcard-header">
        <h1>Coordonnées</h1>
    </div>

    <div class="vcard-content">
        <img class="glyph" alt="cellphone" src="http://localhost:8888/themes/photography/assets/images/util/cellphone.png">
        <span>06 26 46 30 62</span> <br>     

        <img class="glyph" alt="email" src="http://localhost:8888/themes/photography/assets/images/util/email.png">
        <span><a class="primary-link" href="/contact">letournel_anne@yahoo.fr</a></span> <br>

        <img style="vertical-align: top!important;" class="glyph" alt="mail" src="http://localhost:8888/themes/photography/assets/images/util/mail.png">           
        <div style="display: inline-block;">
            67 rue des trois rois<br>
            44000 NANTES<br>
            FRANCE<br>
        </div>
    </div>

</div>