<div class="introduction">
    <p>
        Que ce soit pour un mariage ou une séance portrait, ils ont été touchés par mon travail et ont tenu à vous en faire part. De plus, comme il n’est jamais trop évident de parler de soi-même, cette page vient compléter mon portrait.
    </p>
    <p>
        Si vous aussi, faites partie de ceux que j’ai contribué à rendre heureux et que vous souhaitez le partager, n’hésitez pas à m’envoyer votre commentaire par mail, pour qu’il puisse être publié.
    </p>                
</div>
<div class="separtor-border"></div>