<!DOCTYPE html>
<html>

    <head>
        <% include ../partials/head %>
    </head>

    <body class="blog">

        <% include ../partials/header %>
        <% include ../partials/menu %>

        <!-- Content -->
        <section class="page-content">
            <% if(title) { %> <h1><%= title %></h1> <% } %>
            <%-pageContent%>
        </section>

        <div id="social-bar">
          <%-pageSocialContent%>
        </div>

        <!--<% include ../partials/footer %>-->

        <% include ../partials/javascript %>
        <% include ../components/scrolltop/scrolltop %>

        <!--{% component "googleTracker" %}-->
    </body>
</html>