<!DOCTYPE html>
<html>

    <head>
        <% include ../partials/head %>
    </head>

    <body class="contact">

        <% include ../partials/header %>
        <% include ../partials/menu %>

        <!-- Content -->
        <section class="page-content">
            <div class="container">
                <%-pageContent%>
            </div>       
        </section>

        <% include ../partials/footer %>

        <% include ../partials/javascript %>
        <% include ../components/scrolltop/scrolltop %>

        <!--{% component "googleTracker" %}-->
    </body>
</html>