<!DOCTYPE html>
<html>

    <head>
        <% include ../partials/head %>
    </head>

    <body class="simple">

        <% include ../partials/header %>
        <% include ../partials/menu %>

        <!-- Content -->
        <section class="page-content">
            <div class="container">
                <% if(title) { %> <h1><%= title %></h1> <% } %>
                <%-pageContent%>
            </div>       
        </section>

        <div id="social-bar">
          <%-pageSocialContent%>
        </div>

        <!--<% include ../partials/footer %>-->

        <% include ../partials/javascript %>
        <% include ../components/scrolltop/scrolltop %>

        <!--{% component "googleTracker" %}-->
    </body>
</html>