<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-5">
                                        
	<form method="POST" action="http://localhost:8888/contact" accept-charset="UTF-8" id="contact-form" class="form-horizontal" role="form"><input name="_token" type="hidden" value="QgV9Z1Z0Hj0oD92WOezkjYL4Gi13q2tZVV0WceRn"><input name="_handler" type="hidden" value="sendContactForm"><input name="_session_key" type="hidden" value="UiOESSMEtAiUKIWcrkRtoq5Oqrrom7W6vJQuNYkv">


		<div class="form-group ">
		    <label for="lastname" class="col-sm-3 col-md-3 control-label">Nom</label>
		    <div class="col-sm-9 col-md-9">
		        <input class="form-control" required="required" name="lastname" type="text">
            </div>
		</div>
		<div class="form-group ">
		    <label for="firstname" class="col-sm-3 col-md-3 control-label">Prénom</label>
		    <div class="col-sm-9 col-md-9">
		        <input class="form-control" required="required" name="firstname" type="text">
            </div>
		</div>
		<div class="form-group ">
		    <label for="email" class="col-sm-3 col-md-3 control-label">Email</label>
		    <div class="col-sm-9 col-md-9">
		        <input class="form-control" required="required" name="email" type="text">
            </div>        
		</div>
		<div class="form-group ">
		    <label for="subject" class="col-sm-3 col-md-3 control-label">Objet</label>
		    <div class="col-sm-9 col-md-9">
		        <input class="form-control" required="required" name="subject" type="text">
            </div>
		</div>
		<div class="form-group ">
		    <label for="message" class="col-sm-3 col-md-3 control-label">Message</label>
		    <div class="col-sm-9 col-md-9">
		        <textarea class="form-control" required="required" rows="5" name="message" cols="50"></textarea>
            </div>
		</div>
		<div class="form-group button-bar">
		    <div class="col-xs-12">
		        <button type="reset" class="btn btn-default">Annuler</button>
		        <button type="submit" class="btn btn-primary">Envoyer</button>
		    </div>
		</div>

	</form>

</div>