<div style="margin-top: 0px;margin-bottom:45px;margin-left:0px;margin-right:0px;">


    <style>
        #carousel.carousel .carousel-inner .item {
            max-height: 500px;
            overflow:hidden;
        }
        #carousel.carousel .carousel-inner .item {
            -webkit-border-radius: 0px;
            border-radius: 0px;
        } 
        #carousel.carousel .carousel-inner .item img {
            -webkit-border-radius: 0px;
            border-radius: 0px;
        }
        #carousel.carousel .carousel-control.left {
            -webkit-border-radius: 0px 0 0 0px;
            border-radius: 0px 0 0 0px;
        }
        #carousel.carousel .carousel-control.right {
            -webkit-border-radius:  0 0px 0px 0;
            border-radius:  0 0px 0px 0;
        }
    </style>

    <div id="carousel" class="carousel" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <img src="http://anne-letournel.com/storage/app/media/mariages/hidden_photosplayer/005.png" alt="...">
            </div>

            <div class="item">
                <img src="http://anne-letournel.com/storage/app/media/mariages/hidden_photosplayer/01.png" alt="...">
            </div>

            <div class="item">
                <img src="http://anne-letournel.com/storage/app/media/mariages/hidden_photosplayer/02.png" alt="...">
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

    </div> <!-- Carousel -->

</div>