<p>
    Toutes les photos sont fournies en haute résolution et retouchées si besoin ( contraste, luminosité, ...)<br>
</p>
<p style="color:black;" class="text-bold">
    Je livre l'intégralité des photos réussies sans frais supplémentaire.
</p>
<p>
    Pour toute réservation un accompte de 30% de la prestation choisie vous sera demandé, ce n’est qu’a la récéption de celui ci que le contrat sera validé et la date réservée.
</p>
<p>
    Les frais de déplacement sont offerts 50km autour de Nantes et de Dieppe, au delà me consulter.
</p>
<p>
    Réalisation d’album et tirage également possible, me consulter.
</p>
<p class="contact-block">N’hésitez pas à 
    <a href="/contact" class="contact-link">me consulter</a>
    pour un tarif plus précis en fonction de vos besoins.
</p>                