<br>
<p>
    <span class="reduction" data-verified="redactor" data-redactor-class="reduction">
        -15% SUR LES DERNIÈRES DATES EN 2015
    </span>, pour les dates me consulter
</p>                