<p>
    Bonjour,<br>
</p>
<p>
	Photographe basée sur Nantes mais originaire de Normandie, je me ferais un plaisir de capturer vos plus beaux moments en France comme à l’étranger.
</p>
<p>
	Je vous invite à visiter mon site pour mieux comprendre mon approche et qui sait peut être que nous travaillerons ensemble.
</p>
<p>
	N’hésitez pas à 
	<a class="primary-link" href="/me-contacter.html">me contacter</a>
</p>
<p>
	Bonne visite,
</p>
<p>
	Anne
</p>