description = "Mariages.net tracker"

[viewBag]
snippetCode = "MariagesNetTracker"
snippetName = "Mariages Net Tracker"
snippetProperties[width|type] = "string"
snippetProperties[width|title] = "Width"
snippetProperties[width|default] = "125"
snippetProperties[height|type] = "string"
snippetProperties[height|title] = "Height"
snippetProperties[height|title] = "Height"
snippetProperties[height|default] = "125"
snippetProperties[marginTop|type] = "string"
snippetProperties[marginTop|title] = "Margin top"
snippetProperties[marginTop|default] = "0px"
snippetProperties[marginBottom|type] = "string"
snippetProperties[marginBottom|title] = "Margin bottom"
snippetProperties[marginBottom|default] = "0px"
snippetProperties[marginLeft|type] = "string"
snippetProperties[marginLeft|title] = "Margin left"
snippetProperties[marginLeft|default] = "0px"
snippetProperties[marginRight|type] = "string"
snippetProperties[marginRight|title] = "Margin right"
snippetProperties[marginRight|default] = "0px"
snippetProperties[inlineStyle|type] = "string"
snippetProperties[inlineStyle|title] = "Inline CSS"

== 

<div style="margin-top: {{marginTop}};margin-bottom:{{marginBottom}};margin-left:{{marginLeft}};margin-right:{{marginRight}}; {{inlineStyle}}">
    <script type="text/javascript" src="https://cdn1.mariages.net/_js/wp-rated.js?v=4"></script>
    <div id="wp-ratedWA" style="{{inlineStyle}}">
        <a href="https://www.mariages.net/photo-mariage/anne-letournel-photographies--e129587" title="Anne Letournel Photographies, gagnant Wedding Awards 2015 mariages.net">
            <img width="{{width}}" height="{{height}}" alt="Anne Letournel Photographies, gagnant Wedding Awards 2015 mariages.net" id="wp-ratedWA-img-2015" src="http://cdn1.mariages.net/img/badges/2015/badge-weddingawards_fr_FR.jpg"/>
        </a>
    </div>
    <script>wpShowRatedWAv3('129587', '2015');</script>
</div>