description = "Create a photo album from a folder in media"

[viewBag]
snippetCode = "PhotographyAlbum"
snippetName = "Photography Album"
snippetProperties[albumFolder][type] = "string"
snippetProperties[albumFolder][title] = "Album folder"
snippetProperties[albumFolder][default] = "storage/app/media"
snippetProperties[galleryHeight][type] = "string"
snippetProperties[galleryHeight][title] = "Gallery height"
snippetProperties[galleryHeight][default] = "500px"
snippetProperties[photosWidth][type] = "string"
snippetProperties[photosWidth][title] = "Photos width"
snippetProperties[photosWidth][default] = "23.5%"
snippetProperties[photosSpacing][type] = "string"
snippetProperties[photosSpacing][title] = "Photos spacing"
snippetProperties[photosSpacing][default] = "0.5%"
snippetProperties[photosInfo][title] = "Show photos info"
snippetProperties[photosInfo][type] = "checkbox"
snippetProperties[photosInfo][default] = ""
snippetProperties[photosInfo][options][] = ""
snippetProperties[view][type] = "dropdown"
snippetProperties[view][title] = "View"
snippetProperties[view][default] = "default"
snippetProperties[view][options][default] = "standard"
snippetProperties[view][options][folio] = "folio"
snippetProperties[marginTop][type] = "string"
snippetProperties[marginTop][title] = "Margin top"
snippetProperties[marginTop][default] = "0px"
snippetProperties[marginBottom][type] = "string"
snippetProperties[marginBottom][title] = "Margin bottom"
snippetProperties[marginBottom][default] = "0px"
snippetProperties[marginLeft][type] = "string"
snippetProperties[marginLeft][title] = "Margin left"
snippetProperties[marginLeft][default] = "0px"
snippetProperties[marginRight][type] = "string"
snippetProperties[marginRight][title] = "Margin right"
snippetProperties[marginRight][default] = "0px"

[album]
album_folder = "storage/app/media"
gallery_height = "500px"
photos_width = "23.5%"
photos_spacing = "0.5%"
photos_info = "false"
view = "default"
==
<div style="margin-top: {{marginTop}};margin-bottom:{{marginBottom}};margin-left:{{marginLeft}};margin-right:{{marginRight}};">
    {% component 'album' view=view album_folder=albumFolder gallery_height=galleryHeight photos_width=photosWidth photos_spacing=photosSpacing photos_info=photosInfo %}
</div>