<div class="comment">
    <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="image">
                <img class="img-circle" src="<%-imageURL-%>">
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-8 col-md-9 ">
            <div class="title">
                <%-title-%>
            </div>
            <div class="text">
                <p>
                    <%-text-%>
                </p>
            </div>
        </div>

    </div>
</div>