<a href="<%-albumURL-%>">
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="<%-albumLogo-%>" alt="<%-title-%>">
        <figcaption>
            <h2>
                <%-title-%>
            </h2>
        </figcaption>
    </figure>
</a>