<ul class="category-list">
    <li>
        <a href="http://localhost:8888/blog/category/mariage">Mariage</a> 
        <span class="badge">1</span>
    </li>
    <li>
        <a class="pill" href="http://localhost:8888/blog/category/maternite">Maternité</a> 
        <span class="badge">1</span>
    </li>
</ul>