// layouts/home.scss

.home {
    .page-content {
        margin-top: 0px;
    }

    .presentation {
        margin-top:30px;

        .presentation-title{
            display: block;
            font-weight: bold;
            font-size:20px;
            margin-bottom: 10px;
        }
    }
}